<h1>All tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag),
    class: 'tag.name', id: "tag_#{tag.id}" %>
    </li>
    <div style="float: right">
      <%= link_to "Destroy tag", tag_path(tag), method: :delete, data: {confirm: "Are your sure?"} %>
    </div>
  <% end %>
</ul>
